<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Duplicate Model Instance</title>
</head>

<body>
    <main class="w-full max-w-md mx-auto p-6">
        {% if messages %}
        {% for message in messages %}
        <div class="bg-white border font-semibold border-gray-300 mt-12 text-sm  rounded-md p-4" role="alert">
            {{message}}
        </div>{% endfor %}{% endif %}
        <div class="mt-12 bg-white border border-gray-200 rounded-xl shadow-sm">
            <div class="p-4 sm:p-7">
                <div class="text-center">
                    <h1 class="block text-2xl font-bold text-gray-800">
                        Duplicate Model Instance
                    </h1>

                </div>
                <!-- Form -->
                <form method="POST" action="">
                    <div class="grid gap-y-4">
                        <!-- Form Group -->
                        <div class="my-2">
                            <label for="model" class="block text-sm mb-2">Model</label>
                            <div class="relative">
                                <select id="model" name="model"
                                    class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 uppercase"
                                    required>
                                    {% for key,value in model_list.items %}
                                    <option>{{key}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <!-- End Form Group -->
                        <!-- Form Group -->
                        <div class="my-2">
                            <label for="instance" class="block text-sm mb-2">Instance</label>
                            <div class="relative">
                                <select id="instance" name="instance"
                                    class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
                                    required >
                                <option hidden disabled selected>Instance</option>
                                </select>

                            </div>
                        </div>
                        <!-- End Form Group -->
                        <!-- Form Group -->
                        <div class="my-2">
                            <label for="count" class="block text-sm mb-2">Count</label>
                            <div class="relative">
                                <select id="count" name="count"
                                    class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
                                    required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>

                            </div>
                        </div>
                        <!-- End Form Group -->


                        <button type="submit"
                            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-0 transition-all text-sm ">
                            Duplicate
                        </button>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
        </div>
    </main>

    <script>
       document.getElementById('model').addEventListener('change', function () {
            var selectedModel = this.value;
            var instanceSelect = document.getElementById('instance');

            // Clear existing options
            instanceSelect.innerHTML = '<option value="">-- Select an Instance --</option>';

            if (selectedModel) {
                // Fetch instances via AJAX
                fetch(`/api/get_model_instances/?model_name=${selectedModel}`)
                    .then(response => response.json())
                    .then(data => {
                        data.instances.forEach(instance => {
                            var option = document.createElement('option');
                            option.value = instance.pk;
                            option.text = instance.str;
                            instanceSelect.appendChild(option);
                        });
                    });
            }
        });
  </script>




</body>

</html>